@import url("/css/dashboard_users.css");
@import url("/css/dashboard_search.css");

.panel {
	border: 1px solid #bbb;
	margin-bottom: 20px;
	padding: 10px;
	-moz-border-radius: 6px;
}

.panel h3 {
	margin-top: 0;
	text-align: center;
}

#left {
	width: 580px;
}

#right {
	width: 400px;
}

#left,
#left div.panel {
	float: left;
}

#right,
#right div.panel {
	float: right;
}
